/* Mi propia hoja de estilos para index.html en ijara.github.io */


#banner{
  /* imagen o algo escrito */
  text-align: left;
}

pre{
  /*  */
  text-align: left;
}

#welcome{
  text-align: center;
}

.button{
  background-color: #828376;
}
.button:hover{
  background-color: #D79E37;
}

h1{
  /* Ignacio Jara banner */
  color:white;
}

hr{
  border-color: #336E7B;
}
.panel h5{
  /*  */
  color: #D79E37;
}


body{
  /*  */
  background-color: #19313F;
  color: white;
}

div.row{
  background-color: #19313F;
}

.panel{
  background-color: #19313F;
  border-color: #336E7B;
  color: #D79E37;
}

.link{
  /*  */
  color: #DE7D4F;
}
.link:hover{
  /*  */
  color: #F8A046;
}

footer{
  /*  */
  text-align: right;
}
