/* Mi propia hoja de estilos para index.html en ijara.github.io */


#banner{
  /* imagen o algo escrito */
  text-align: left;
}



.button{
  background-color: #828376;
}
.button:hover{
  background-color: #D79E37;
}

#bienvenida{
    color: #5B5567;
}

#subtitulo3{
    color: darkcyan;
}
h1{
  /* Ignacio Jara banner */
  color: #5B5567;
}

#parrafos{
    color: #5B5567
}

p{
    color: #5B5567;
}

hr{
  border-color: #5B5567;
}
.panel h5{
  /*  */
  color: #D79E37;
}


body{
  /*  */
  background-color: #FCFFF2;
  color: #5B5567
}

div.row{
  background-color: #FCFFF2;
}

.panel{
  background-color: #FCFFF2;
  border-color: #336E7B;
  color: #D79E37;
}

.link{
  /*  */
  color: #C7CB96;
}
.link:hover{
  /*  */
  color: #E8DE92;
}

footer{
  /*  */
  text-align: right;
}
